{% extends "base.html" %}

{% block content %}
<main class="main main--about">
    <p>
        Hi, I'm Sayyam! I love to code and master software development.
        I'm a Software Development Engineer with over 3 years of experience in programming, 
        testing, research and documentation of applications and understanding of agile project. 
        Able to learn new technologies and tools quickly and capable of adopting them as well.
    </p>
    <p>
        Coding is extremely rewarding. As you learn, things start to click and make sense.
        You can join the dots of all the things that weren't quite clear before.
    </p>
    <p>
        I have working experience in Python, JavaScript, Perl and Shell Scripting, particularly in web and backend development.
        I'm experienced with programming libraries and frameworks like Flask and React.
        I've worked extensively with UNIX systems, Oracle SQL, MongoDB and advanced system architecture design.
    </p>
</main>
{% endblock %}